/* ------------------------- */
/* fonts family */
/* ------------------------- */

/* Light 300 */
@font-face {
    font-family: "Montserrat";
    src: url("/src/assets/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Regular 400 */
@font-face {
    font-family: "Montserrat";
    src: url("/src/assets/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Medium 500 */
@font-face {
    font-family: "Montserrat";
    src: url("/src/assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* SemiBold 600 */
@font-face {
    font-family: "Montserrat";
    src: url("/src/assets/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Bold 700 */
@font-face {
    font-family: "Montserrat";
    src: url("/src/assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* ------------------------- */

/* ------------------------- */
/* color variables */
/* ------------------------- */
:root {
    --white-color: #f0f0f0;
    --light-color: #b0b0b0;
    --primary-color: #666666;
    --dark-color: #3a3838;
    --black-color: #232323;
}

/* ------------------------- */

/* ------------------------- */
/* normilize */
/* ------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    /* disable selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

img,
a {
    /* disable dragging */
    -webkit-user-drag: none;
}

a,
a:visited,
a:active,
a:hover,
a:focus {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the text color from the parent */
}

a:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

input:focus,
textarea:focus {
    outline: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------------- */

/* ------------------------- */
/* displays */
/* ------------------------- */

/* display - flex-direction - justify-content - align-items */
.display-flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display-flex-row-space-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.display-flex-row-space-around-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.display-flex-column-space-between-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.display-flex-column-space-between-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.display-flex-column-space-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display-flex-column-center-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.display-flex-column-flex-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.display-flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

/* ------------------------- */

/* ------------------------- */
/* text-fonts */
/* ------------------------- */

/* 14px */
.text-light-14px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 00;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-regular-14px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-medium-14px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-semibold-14px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-bold-14px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

/* ------------------------- */

/* 16px */
.text-light-16px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-regular-16px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-medium-16px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-semibold-16px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-bold-16px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

/* ------------------------- */

/* 20px */
.text-light-20px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-regular-20px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-medium-20px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-semibold-20px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

.text-bold-20px {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.12em;
}

h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
}

h6 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
}

/* ------------------------- */

/* ------------------------- */
/* text-colors */
/* ------------------------- */

/* white #F0F0F0; */
.text-color-white {
    color: var(--white-color);
}

/* light #B0B0B0; */
.text-color-light {
    color: var(--light-color);
}

/* primary #666666; */
.text-color-primary {
    color: var(--primary-color);
}

/* dark #3A3838; */
.text-color-dark {
    color: var(--dark-color);
}

/* ------------------------- */

/* ------------------------- */
/* background-colors */
/* ------------------------- */

/* white #F0F0F0; */
.background-color-white {
    background-color: var(--white-color);
}

/* light #B0B0B0; */
.background-color-light {
    background-color: var(--light-color);
}

/* primary #666666; */
.background-color-primary {
    background-color: var(--primary-color);
}

/* dark #3A3838; */
.background-color-dark {
    background-color: var(--dark-color);
}

/* ------------------------- */

/* ------------------------- */
/* buttons */
/* ------------------------- */

/* white */
.btn-white {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary-color);
    cursor: pointer;
    transition: 200ms ease-in;
}

.btn-white:hover {
    transform: scale(1.02);
    transition: 200ms ease-in;
}

.btn-white:active {
    background: var(--primary-color);
    border-color: var(--white-color);
    color: var(--white-color);
}

.btn-white:disabled {
    background: var(--white-color);
    border-color: var(--white-color);
    color: var(--light-color);
    cursor: not-allowed;
    transform: none;
}

/* grey */
.btn-primary {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--white-color);
    cursor: pointer;
    transition: 200ms ease-in;
}

.btn-primary:hover {
    transform: scale(1.02);
    transition: 200ms ease-in;
}

.btn-primary:active {
    background: var(--white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: 200ms ease-in;
}

.btn-primary:disabled {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--light-color);
    cursor: not-allowed;
    transform: none;
}

/* dark */
.btn-dark {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--white-color);
    cursor: pointer;
    transition: 200ms ease-in;
}

.btn-dark:hover {
    transform: scale(1.02);
    transition: 200ms ease-in;
}

.btn-dark:active {
    background: var(--white-color);
    color: var(--dark-color);
    border-color: var(--dark-color);
    transition: 200ms ease-in;
}

.btn-dark:disabled {
    background: var(--dark-color);
    border-color: var(--dark-color);
    color: var(--light-color);
    cursor: not-allowed;
    transform: none;
}

/* icon-primary */
.btn-icon-primary {
    background: var(--primary-color);
    cursor: pointer;
    transition: 200ms ease-in;
}

.btn-icon-primary:hover {
    transform: scale(1.1);
    transition: 200ms ease-in;
}

/* ------------------------- */

/* ------------------------- */
/* border-radius */
/* ------------------------- */

/* 4px */
.border-radius-4px {
    border-radius: 4px;
}

/* 8px */
.border-radius-8px {
    border-radius: 8px;
}

/* ------------------------- */

/* ------------------------- */
/* border */
/* ------------------------- */

/* 4px */
.border-2px-primary {
    border: 2px solid var(--primary-color);
}

/* 8px */
.border-2px-light {
    border: 2px solid var(--light-color);
}

/* ------------------------- */
